<button id="logOutButton" {{action "logout"}}>Log Out</button>
<div class="wrapper">
    <span id="welcomeUserSpan">Welcome, {{username}}</span>
    <input type="text" id="inputTask" placeholder="New Task">
    <button {{action "addNewTask"}} id="addTaskButton">Add Task</button>
    {{!-- <button {{action "listAllTasks"}} id="listTasksButton">List Tasks</button> --}}
        {{ember-chart type="bar" data=myCompletedTaskData options=myOptions id="mychart"}}
        <span id="completedTaskCountSpan">
            Completed Task Count :
            {{completedTaskCount}}
        </span>
        <span id="tasksSpan">Task List</span><span id="taskIconSpan">{{fa-icon "running"}}</span> 
    <ul id="taskList">
        {{#each myTasks as |task|}}
            <li class="taskListItem">{{task.content}}
                <button class="deleteTaskButton" title="Delete Task" {{action "deleteTask" task}}>{{fa-icon "times"}}</button>
                <button class="completeTaskButton" title="Complete Task" {{action "completeTask" task}}>{{fa-icon "check"}}</button>
            </li> 
        {{/each}}
    </ul>
</div>